
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Harika bir doğum günü partisi olacak</h2>
    <h3>Sende davetlisin</h3>
    @Html.ActionLink("Geliyor musun?", "DavetiyeForm",null,new { @class="btn btn-success" })
</div>

